<div class="row">
  <div class="col-md-7">
    <%= image_tag person.image, size: '450x300' %>
  </div>
  <div class="col-md-5">
    <span class="person-name"><%= link_to person.name, person_path(person),style: 'color: #00D4B0 !important;' %></span><br/>
    <span><%= person.company %></span><br/>
    <span style="font-size:11px;"><%= person.created_at %>.</span>
  </div>
</div>
<br/>
