<h2><b>Tags</b></h2>

<div class="row">
  <div class="col-md-12">
    <% Person.get_all_tags.each do |t| %>
      <%= link_to t, {action: 'people_by_tag', tag: t}, {class: 'badge', style: 'text-decoration: none; color: white !important;'} %>
    <% end %>
  </div>
 </div>
<br/>
