<h2>Tags</h2>

<div class="row">
  <div class="col-md-12">
    <span class="badge">Programmer</span>
    <span class="badge">Linux</span>
    <span class="badge">Ubuntu</span>
    <span class="badge">Mac</span>
    <span class="badge">Hacker</span>
  </div>
 </div>
<br/>

<div class="row">
  <div class="col-md-12">
    <span class="badge">Designer</span>
  </div>
</div>
