<div class="row" style="font-size: 16px;">
  <div class="col-md-12">
    <h2>gik's Env được tạo như thế nào</h2>
    <ul>
      <li>gik's Env được tạo bằng framework <a href="http://rubyonrails.org/" class="my-a">Ruby on Rails</a></li>
      <li>Database được sử dụng ở web này là <a href="http://www.postgresql.org/" class="my-a">Postgresql</a> </li>
      <li><a href="http://getbootstrap.com/" class="my-a">Twitter Bootstrap 3</a> cho styling & layout</li>
      <li>Tất cả các hình ảnh được host tại <a href="https://www.dropbox.com/" class="my-a">Dropbox</a></li>
    </ul>
    <p><b>Source code cho project này được host tại đây</b>: <a href="https://github.com/kimquy/giksenv">https://github.com/kimquy/giksenv</a></p>
  </div>
</div>
