<div class="row" style="font-size: 16px;">
  <div class="col-md-12">
    <h2>gik's Env được tạo như thế nào</h2>
    <ul>
      <li>gik's Env được tạo bằng framework <a href="http://rubyonrails.org/" class="my-a">Ruby on Rails</a></li>
      <li><a href="http://getbootstrap.com/" class="my-a">Twitter Bootstrap 3</a> cho styling & layout</li>
    </ul>
  </div>
</div>
