<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8" style="border: 1px solid gray; text-align: center; padding:18px;">
    <span style="font-size: 20px; padding:10px; color:red; font-weight:bold;">gik's Tuts will be released soon! Stay tune :)</span>
  </div>
</div>
