<div class="row">
  <div class="col-md-7">
    <%= image_tag('cat.jpg', size: '450x302', class: 'img-thumbnail') %>
  </div>
  <div class="col-md-5">
    <span class="person-name">Long Nguyen</span><br/>
    <span>Software Developer at Vinagility</span><br/>
    <span style="font-size:11px;">Nov 28, 2013.</span>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md-7">
    <%= image_tag('cat1.jpg', size: '450x302', class: 'img-thumbnail') %>
  </div>
  <div class="col-md-5">
    <span class="person-name">Hoang Bich</span><br/>
    <span>It Assistant at GikTuts</span><br/>
    <span style="font-size:11px;">Nov 28, 2013.</span>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <ul class="pagination">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </div>
</div>
