
.preface-words{
  font-size: 16px;
}

.color-logo{
 color: #00D4B0;
 font-weight: bold;
}

.person-name{
  color: #00D4B0;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

img{
  border-radius: 0 !important;
}

.my-a{
  font-weight: bold;
  text-decoration: none ;
  font-size: 14px;
}

a{
  color: #4A4A4A !important;
}

.gik-bio a{
  color: #00D4B0 !important;
  font-weight: bold;
}

.gik-bio{
  font-size: 14px !important;
}
